.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #000133;
  background-color: whitesmoke;
}

.bold {
  font-weight: bold;
}

.header {
  display: flex;
  height: 50px;
  align-items: center;
  /*justify-content: center;*/
}

.icon {
  padding: 10px;
}

.icon:hover {
  cursor: pointer;
}

.header-title {
  margin-bottom: 5px;
  width: 150px;
  font-size: larger;
}

.header-links {
  margin-bottom: 5px;
}

.header-links ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.header-links li {
  float: left;
}

.header-links li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.container-header {
  display: flex;
  height: 40px;
  color: dodgerblue;
  padding-left: 40px;
}

.container-header-title {
  display: flex;
  width: 450px;
}

.container-header-content {
  z-index: 10000;
}

.container-header-content-search {
  width: 225px;
  text-align: left;
}



.container {
  display: flex;
  flex: 1;
}

.drawer {
  width: 0px;
  transition: width 0.7s;
}

.opened {
  width: 450px;
}

.main {
  flex: 1;
  background: #f7f5f5;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}